 /*My css overrides*/

.nav>li {
    margin: 0 2px;
}
.nav>li>a{
    
    border-radius: 10px;
 
}
/*Slider*/
.slider-inner .da-slider {
    box-shadow:none;
    border-bottom:2px solid #ddd;
}

      /* Large desktop */
      @media (min-width: 980px) { 
        body {
         padding-top: 60px;
        }
       .linediv-l {
         border-right: 1px white solid;
        }
       .linediv-r {
         border-left: 1px white solid;
       }
      }

      /* Landscape phones and down */
      @media (max-width: 480px) { 
       .copy {
         padding: 2.5% 10%;
       }
       .linediv-l {
         border-bottom: 1px white solid;
       }
       .linediv-r {
         border-top: 1px white solid;
       }
      }

      /* All form factors */

      /* Main body and headings */
      body{
        font-family: 'Open Sans', Helvetica, Arial, sans-serif;
      }
      .heading, .subheading {
        font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
        text-align: center;
      }
      p.lead {
        padding-top: 1.5%;
        font-size: 24px;
        line-height: 30px;
      }
      p {
        font-size: 14px;
        line-height: 24px;
	color: #555;
      }

      /* Video pitch and Action */
      .pitch {
        padding: 2.5% 0% 2.5% 0%;
      }
      .order {
        padding: 2% 0%;
      }
      .actions {
        background-color: #343434;
        padding: 3% 0%;
      }
      .video, .thermometer, .order, .social, .statistics {
        text-align: left;
      }
      .statistics h3, .statistics p {
        color: white;
      }

      /*Quotebox */
      
.quotebox {
    padding: 25px 30px;
    margin-top: 20px;
    background-color: #F5F5F5; 
    border-radius: 20px; 
    border: 1px solid #dadada;
    overflow: auto;   
}

.quotebox img {
    border-radius: 20%;
    height: 100px;
    float: left;
    margin: 0 30px 10px 0;
    border: 2px solid #dadada;   
}

.quotebox .signature {
    height:2em; 
    line-height:2em;
    float: left;
}

.quotebox .social-icons {
    float: left;
}

@media (max-width: 979px){
    .span1.spacer {
	display: none;
    }
}

/*Thumbnail*/
.thumbnail-style { 
    padding:5px; 
    border-radius:2px; 
}
.thumbnail-style:hover { 
    box-shadow:0 0 8px #ddd; 
    -webkit-transition:box-shadow 0.2s ease-in-out;
    -moz-transition:box-shadow 0.2s ease-in-out;
    -o-transition:box-shadow 0.2s ease-in-out;
    transition:box-shadow 0.2s ease-in-out;
}
.thumbnail-style h3 {
    margin:5px 0 0 0;
}
.thumbnail-style h3 a {
    font-size:20px;
}
.thumbnail-style h3 a:hover {
    color:#72c02c;
    text-decoration:none;
}
.thumbnail-style .thumbnail-img {
    position:relative;
}
.thumbnail-style a.btn-more {
    right:-10px;
    bottom:10px;
    color:#fff;
    padding:1px 6px;
    position:absolute;
    background:#72c02c;
    display:inline-block; 
}
.thumbnail-style a.btn-more:hover {
    text-decoration:none;
    box-shadow:0 0 0 2px #377500;
}
.thumbnail-style:hover a.btn-more {
    right:10px;
}

.thumbnail-kenburn img {
    left:10px;
    margin-left:-10px;
    position:relative;
   -webkit-transition: all 0.8s ease-in-out;
   -moz-transition: all 0.8s ease-in-out;
   -o-transition: all 0.8s ease-in-out;
   -ms-transition: all 0.8s ease-in-out;
   transition: all 0.8s ease-in-out;
}
.thumbnail-kenburn:hover img {
   -webkit-transform: scale(1.2) rotate(2deg);
   -moz-transform: scale(1.2) rotate(2deg);
   -o-transform: scale(1.2) rotate(2deg);
   -ms-transform: scale(1.2) rotate(2deg);
   transform: scale(1.2) rotate(2deg);
}

.overflow-hidden {
    overflow:hidden;
}
      
/*CSS3 Hover Effects*/
.hover-effect {
    -webkit-transition:all 0.4s ease-in-out;
    -moz-transition:all 0.4s ease-in-out;
    -o-transition:all 0.4s ease-in-out;
    transition:all 0.4s ease-in-out;
}
.hover-effect-kenburn {
    left:10px;
    margin-left:-10px;
    position:relative;
   -webkit-transition: all 0.8s ease-in-out;
   -moz-transition: all 0.8s ease-in-out;
   -o-transition: all 0.8s ease-in-out;
   -ms-transition: all 0.8s ease-in-out;
   transition: all 0.8s ease-in-out;
}
.hover-effect-kenburn:hover {
    -webkit-transform: scale(2) rotate(5deg);
    -moz-transform: scale(2) rotate(5deg);
    -o-transform: scale(2) rotate(5deg);
    -ms-transform: scale(2) rotate(5deg);
    transform: scale(2) rotate(5deg);
}




      /* Marketing Copy and Footer */
      .copy {
        padding-top: 2.5%;
        padding-bottom: 2.5%;
        text-align: justify;
      }
      .asset {
        padding: 2.5% 0%;
      }
      
      /* http://support.addthis.com/customer/portal/questions/1136093-share-buttons-in-center-position */      
      div.addthis_toolbox {
        width:180px;
        margin: 0 auto;
      }
      
      .navbar .nav > li > a {
      float: none;
      padding: 15px 20px;
      margin: 15px 0 15px 0;
      color: #555;
      text-decoration: none;
      text-shadow: 0 1px 0 white;
      }

      /* This gives padding to the top of the content so it appears beneath the navbar*/
      body {
       padding-top: 80px;
      }
      @media (max-width: 979px) {
        body {
	  padding-top: 0px;
        }
	.navbar-fixed-top {
          margin-bottom: 0px;
	}	
      }

      /*http://stackoverflow.com/questions/6008324/fade-effect-on-link-hover*/
      .navbar .nav > li > a{
      -o-transition:color .2s ease-out, background .2s ease-in;
      -ms-transition:color .2s ease-out, background .2s ease-in;
      -moz-transition:color .2s ease-out, background .2s ease-in;
      -webkit-transition:color .2s ease-out, background .2s ease-in;
      /* ...and now override with proper CSS property */
      transition:color .2s ease-out, background .2s ease-in;
      }
      
      .navbar .nav > li > a:hover{
        color: black;
        text-shadow: 0px 0px 6px rgba(255,255,255,0.7);<!--2px 2px 3px #c9c9c9;-->
        background-color: <!--#01404d;<!--#00829eC;<!--#FC6D0D;-->
      }
      
      /*The navalign class aligns the nav buttons to the right when full screen, and to the left for a collapsed navbar*/
      .navalign{
	  float: right;
	  }
      @media(max-width: 970px){
	  .navalign{
	      float: left;
	  }
      }
	      
      
      /*carousel styles*/
      .carousel{
	  background-image: url('/images/bluebg.jpg');
	  padding: 3px 0 3px 0;
      }
      .carousel h1{
        color: white;
      }
      .carousel p{
        color: black;
      }
      .content{/*This is the text box in the carousel*/
	  padding-top: 25%;
      }
      @media (max-width: 979px) {
	.pitch{
	    padding: 0;
	}
	.imagewrapper{
	    padding-top:10px;
	    padding-right: 20px;
	    padding-left: 20px;
	}
        .content {
          padding: 0 20px 20px 20px;
        }
	.carousel h1{
	    color: black;
	}
	.carousel{/*This overrides bootstraps 20px body padding: http://stackoverflow.com/questions/17560818/twitter-bootstrap-white-space-on-left-and-right-side-in-smaller-screen-widths*/
	       margin-left: -20px;	    
	       margin-right: -20px;
	    }
      }

/*Purchase*/
.purchase {
    padding:30px 0px 20px 0px;
    box-shadow:inset 0 0 4px #eee;
    background:url('/images/breadcrumbs.png') repeat;
}

@media(max-width: 970px){
    .purchase{
	margin-right: -20px;
	margin-left: -20px;
    }
}

.purchase .container {
    padding:0 20px;
}


.purchase .container .span9 {
    margin-right:20px;
}
.purchase span {
    color:#666;
    display:block;
    font-size:32px;
    line-height:35px;
    margin-bottom:12px;
}
.purchase a.btn-buy {
    color:#fff;
    font-size:16px;
    cursor:pointer;
    margin-top:22px;
    font-weight:bold;
    border-radius:2px;
    background:#72c02c;
    display:inline-block;
    text-decoration:none;
    padding:12px 28px 9px;
    text-transform:uppercase;
    text-shadow:0 1px 0 #51a00b;
}
.purchase a.btn-buy:hover {
    color:#fff;
    background:#68af28;
    text-decoration:none;
    box-shadow:0 0 5px #c0c2c1;
} 

@media(min-width: 970px){
    .purchase .center {/*centers only for large screens*/
	text-align: center;
    }	
}


/*Service*/
.service { 
    margin:20px 0;
    padding:15px 15px 10px;
}
.service:hover {
    border-radius:20px;
    box-shadow:0 0 15px #ccc;
    background:#fcfcfc;
    -webkit-transition:box-shadow 0.2s ease-in-out;
    -moz-transition:box-shadow 0.2s ease-in-out;
    -o-transition:box-shadow 0.2s ease-in-out;
    transition:box-shadow 0.2s ease-in-out;
}
.service:hover i {
    color:#656565;
}
.service i {
    float:left;
    padding:10px;
    color:#057ce2;
    font-size:45px;  
    text-align:center;
    -webkit-transition:all 0.4s ease-in-out;
    -moz-transition:all 0.4s ease-in-out;
    -o-transition:all 0.4s ease-in-out;
    transition:all 0.4s ease-in-out;
}
.service i.icon-cogs {
    font-size:37px;
}
.service .desc {
    width:75%;
    float:right;
}
.service .desc h4 {
    font-size:22px;
    line-height:25px;
}

.ie7 .service .circle i  {
    padding-bottom:45px !important; /*ie7*/
}


/*Testimonials*/

/*http://ilikepixels.co.uk/drop/bubbler/  */

.bubble 
{
position: relative;
/*width: 250px;*/
height: 120px;
padding: 0px;
margin: 10px 10px 0 10px;
background: #f5f5f5;
border: #dadada solid 1px;
-webkit-border-radius: 16px;
-moz-border-radius: 16px;
border-radius: 16px;
}

.bubble:hover{
    /*background: #057ce2;*/
    box-shadow:0 0 15px #ccb;

    -webkit-transition:all 0.4s ease-in-out;
    -moz-transition:all 0.4s ease-in-out;
    -o-transition:all 0.4s ease-in-out;
    transition:all 0.4s ease-in-out;
}

.bubble:hover p{
    
    
}

.bubble:after 
{
content: "";
position: absolute;
bottom: -21px;
left: 70%;
border-style: solid;
border-width: 21px 15px 0;
border-color: #f5f5f5 transparent;
display: block;
width: 0;
z-index: 1;
}

.bubble:hover:after{
    /*border-color: #057ce2 transparent;*/
     
    -webkit-transition:all 0.4s ease-in-out;
    -moz-transition:all 0.4s ease-in-out;
    -o-transition:all 0.4s ease-in-out;
    transition:all 0.4s ease-in-out;
}


.bubble:before 
{
content: "";
position: absolute;
top: 121px;
left: 70%;
border-style: solid;
border-width: 22px 15px 0;
border-color: #dadada transparent;
display: block;
width: 0;
z-index: 0;
}

.bubble-sig {
    text-align: right;
    margin-right: 35%;
}
    

      







      /*footer styles */
      .footer {	
        background-color: #4F5C63;
        text-align: center;
	border-top: 3px solid #057ce2;
	padding-bottom: 20px;
      }
      .footer p {
        font-size: 13px;
	color: #dadada;
	text-align: left;
      }
      .footer a {
        color: #90BDFC;
      }
      .footer h3 {
	  font-weight: normal;
	  color: white;
	  margin: 0;
      }
      .footerblock {
	  position:relative;
	  width:100%;
	  text-align: left;
      }
      .footerheadersolid{
	  position:absolute; 
	  top:0; 
	  left:0; 
	  border-bottom: 2px solid #057ce2;
	  z-index: 1;
      }
      .footerheaderdotted{
	  position:absolute;
	  top:0;
	  left:0;
	  border-bottom: 1px dotted white;
	  width: 100%
	  }

.headline {
    display:block;
    margin:10px 0 25px 0;
    border-bottom:1px dotted #e4e9f0;
    text-align: left;
}

.headline h2, .headline h3, .headline h4 {
    color: white;		 
    margin:0 0 -2px 0;
    padding-right:10px;
    display:inline-block;
    /*text-shadow:0 0 1px #f6f6f6;*/
    border-bottom:2px solid #057ce2;
}

.removedotted {
    border-bottom: 0;
}

.headline h2{
    color: #3B3A3A;
    font-size: 22px;
    font-style: normal;
}

.footer address {
    font-style: normal;
    display:block;
    margin-bottom:20px;
    line-height:20px;
    color: #DEDFE0;
    text-align: left;
    font-size: 13px;
}
.paddedwrapper {
    padding: 5px 5.5%;
}   




/*Posts*/
.posts .dl-horizontal { 
    margin-bottom:3px;
    padding:0;
    background:#fdfdfd;
    /*border-right:solid 2px #eee;*/
}
.posts .dl-horizontal:hover { 
    border-right:solid 2px #90BDFC;
    -webkit-transition:all 0.4s ease-in-out;
    -moz-transition:all 0.4s ease-in-out;
    -o-transition:all 0.4s ease-in-out;
    transition:all 0.4s ease-in-out;
}
.posts .dl-horizontal dt { 
    width:50px; 
    float:left;
    border: 4px solid #dadada;
    border-radius: 100%;
    display: inline-block;

}
.posts .dl-horizontal dt:hover {
    border: 4px solid #90BDFC;
    -webkit-transition:all 0.4s ease-in-out;
    -moz-transition:all 0.4s ease-in-out;
    -o-transition:all 0.4s ease-in-out;
    transition:all 0.4s ease-in-out;
}
/*.circleborder {
border: 5px solid white;
border-radius: 100%;
display: inline-block;
}*/
.posts .dl-horizontal dt img { 
    width:50px; 
    height:50px; 
    border-radius:100%;
    /*border:solid 3px #eee;*/
}
.posts .dl-horizontal dd { 
    margin-left:66px;
}
.posts .dl-horizontal dd p { 
    margin:0;
}
.posts .dl-horizontal a {
    font-size:13px;
    line-height:14px !important; 
}
.posts .dl-horizontal a:hover { 
    color:#90BDFC; 
    text-decoration:none;
}
.posts .dl-horizontal:hover dt, .posts .dl-horizontal:hover dd a { 
    color:#90BDFC;
    border-color:#90BDFC !important;
    -webkit-transition:all 0.4s ease-in-out;
    -moz-transition:all 0.4s ease-in-out;
    -o-transition:all 0.4s ease-in-out;
    transition:all 0.4s ease-in-out;
}

/*Blog Posts*/
.footer .posts {
    padding:0px;
}
.footer .blog-list {
    margin:0;
    padding:0;
    color: #dadada;
    list-style:none;
}
.footer .blog-list li {
    padding:0 0;
    margin-bottom:7px; 
}
.footer .blog-list li span {
    color:#818488;
}
.footer .dl-horizontal,
.footer .dl-horizontal:hover {
    border:none !important;
    background:none !important;
}
.footer .dl-horizontal a {
    color:#dadada;
}
.footer .dl-horizontal a:hover {
    color:#90BDFC !important;
}
.footer .dl-horizontal img {
    border-color:#888 !important;
}





.finalfooter {
    background-color: #3A404A;
    border-top: 1px solid #A8A8A8;
    text-align: center;
}
.finalfooter p {
    color: #BABABA;
    font-size: 12px;
    margin: 0;
    padding: 0 5px;
}
.finalfooter a {
        color: #90BDFC;
      }
.finalfooter a:hover{
    cursor: pointer;
}




/*Social Icons*/
.social-icons {
    margin:0;
}
.social-icons li {
    float: left;
    display:inline;
    list-style:none;
    margin-right:5px;
    margin-bottom:0fpx;
    text-indent:-9999px;
}
.social-icons li a, a.social-icon {
    width:28px;
    height:28px;
    display:block;
    background-position:0 0;
    background-repeat:no-repeat;
    transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}
.social-icons li:hover a {
    background-position:0 -38px;
}

.social_facebook {background: url(/images/social/facebook.png) no-repeat;}
.social_googleplus {background: url(/images/social/googleplus.png) no-repeat;}
.social_linkedin {background: url(/images/social/linkedin.png) no-repeat;}
.social_tumblr {background: url(/images/social/tumblr.png) no-repeat;}
.social_twitter {background: url(/images/social/twitter.png) no-repeat;}
      
      @media(max-width: 970px){
	  .footer, .finalfooter {
     	      margin-left: -20px;	    
	      margin-right: -20px;
	  }
      }

.hidden {
    display: none;
}

.form-search .input-append .search-query:disabled {
    background-color: #dadada;
    cursor: auto;
}

modal-open {
    overflow: hidden;
    position: fixed;
}

 @media (max-width: 480px) {

        .modal {
            height: 500px; /* Set a default max height of the modal (adjusted later)*/
            position: fixed; /* Display modal in the centre of your screen */
            overflow-y: scroll; /*  Ensure that the modal is scroll-able */
            -webkit-overflow-scrolling: touch; /* Avoid having to use 2 finger scroll on iOS    */
	    padding-bottom: 100px;
        }
        .modal.fade.in{
            top: 5px; /* Use more screen real estate */
        }
        .modal-body{
            /* Increase the max height of the modal body to try & avoid both it,
             * and the modal container having scroll bars which results in odd behavior */ 
            max-height: 2400px; 
        }   
    }

    /* Now adjust the height so it handles various screen sizes & orientations */
    /* You could make this as granular as you like, or have it more granular at common screen sizes
     * but it should start at the height we set on .modal (i.e. 500px) & work down */
    @media (max-width: 480px) and (max-height: 500px){.modal{ height: 450px}}
    @media (max-width: 480px) and (max-height: 450px){.modal{ height: 400px}}
    @media (max-width: 480px) and (max-height: 400px){.modal{ height: 350px}}
    @media (max-width: 480px) and (max-height: 350px){.modal{ height: 300px}}
    @media (max-width: 480px) and (max-height: 300px){.modal{ height: 250px}}
    @media (max-width: 480px) and (max-height: 250px){.modal{ height: 200px}}
    @media (max-width: 480px) and (max-height: 200px){.modal{ height: 150px}}